@page
@model Umbrella.Pages.Newmedic.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูล";
}

<h2>ลบข้อมูล</h2>

<h3>"คุณต้องการลบข้อมูลนี้ใช่หรือไม่?"</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อยา : 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medic.MedicName)
        </dd>
        <dt>
            สรรพคุณ : 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medic.Pro)
        </dd>
        <dt>
            จำนวน :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medic.Stork)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Medic.MedicID" />
        <input type="submit" value="ลบข้อมูล" class="btn btn-default" /> |
        <a asp-page="./Index">ย้อนกลับ</a>
    </form>
</div>
