@page
@model Umbrella.Pages.Newmedic.DetailsModel

@{
    ViewData["Title"] = "ตรวจสอบข้อมูล";
}

<h2>ตรวจสอบข้อมูล</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อยา : 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medic.MedicName)
        </dd>
        <dt>
            สรรพคุณ : 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medic.Pro)
        </dd>
        <dt>
            จำนวน :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medic.Stork)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Medic.MedicID">แก้ไขข้อมูล</a> |
    <a asp-page="./Index">ย้อนกลับ</a>
</div>
