@page
@model Umbrella.Pages.Newmedic.EditModel

@{
    ViewData["Title"] = "แก้ไขข้อมูล";
}

<h2>แก้ไขข้อมูล</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medic.MedicID" />
            <div class="form-group">
                <label asp-for="Medic.MedicName" class="control-label">ชื่อยา</label>
                <input asp-for="Medic.MedicName" class="form-control" />
                <span asp-validation-for="Medic.MedicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medic.Pro" class="control-label">สรรพคุณ</label>
                <input asp-for="Medic.Pro" class="form-control" />
                <span asp-validation-for="Medic.Pro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medic.Stork" class="control-label">จำนวน</label>
                <input asp-for="Medic.Stork" class="form-control" />
                <span asp-validation-for="Medic.Stork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medic.imageFileName" class="control-label">รูปภาพ</label>
                <input asp-for="Medic.imageFileName" type="file"/>
                <span asp-validation-for="Medic.imageFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึกข้อมูล" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
