@page
@model Umbrella.Pages.Newmedic.IndexModel

@{
    ViewData["Title"] = "คลังยา";
}

<h2>คลังยา</h2>

<p>
    <a asp-page="Create">เพิ่มยาตัวใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อยา
            </th>
            <th>
                สรรพคุณ
            </th>
            <th>
                จำนวน
            </th>
            <th>
                รูปภาพ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medic) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stork)
            </td>
            <td>
                <img src="./images/img/@Html.DisplayFor(modelItem => item.imageFileName)" width="150">
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MedicID">แก้ไขข้อมูล</a> |
                <a asp-page="./Details" asp-route-id="@item.MedicID">ตรวจสอบข้อมูล</a> |
                <a asp-page="./Delete" asp-route-id="@item.MedicID">ลบข้อมูล</a>
            </td>
        </tr>
}
    </tbody>
</table>
