﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Umbrella";
}
<br>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
        <h2>ยาภายใน Umbrella </h2>
        <hr>
      </div>
      @foreach (var item in Model.Medic) {
      <div class="col-sm-4">
        <div class="thumbnail">
          <br>
          <center>@Html.DisplayFor(modelItem => item.MedicName)</center>
          <hr><img src="./images/img/@Html.DisplayFor(modelItem => item.imageFileName)"  ><hr>
          &nbsp;&nbsp;สรรพคุณ : @Html.DisplayFor(modelItem => item.Pro) <br>
          &nbsp;&nbsp;จำนวน : @Html.DisplayFor(modelItem => item.Stork) ชิ้น <br>
        </div>
      </div>       }
  </div>
</div>
