﻿	@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <center><h1>IJune Music Store</h1></center>
</div>

<div class="row">
    <h4>วันนี้วันที่:  @DateTime.Now</h4>
    <h4>ยินดีต้อนรับคุณ: @Model.username</h4>
</div>

<div class="row">
<h2>เพลงมาใหม่</h2>
	<div class="col-md-9">
	@foreach (var album in Model.albums)
	{
		<div class="row">
			<div class="col-md-3">
				<img src="~/images/@album.AlbumImage" width=160 height=120>
			</div>
			
			<div class="col-md-6">
				<h3>@album.AlbumName</h3> 
				<h4> โดย:  @album.ArtistName </h4> 
				<audio controls><source src="~/audio/@album.SampleAudio"></audio><br>
				ราคา @album.Price กีบ
				@if(@album.stock > 0){
					<a href="">สั่งซื้อ </a>
				}else{
					<p style="color:red">สินค้าหมด</p>
				}
			</div>
		</div><br>
	}
	</div>

	<div class="col-md-3">
			<center>
		<h2>เพลงแนะนำ</h2>
        <br>
        
		<h3>@Model.featureSong.AlbumName</h3> 
		<h4>by @Model.featureSong.ArtistName</h4>
		<img src="~/images/@Model.featureSong.AlbumImage" width=160 height=120> <br><br>
		<audio controls><source src="~/audio/@Model.featureSong.SampleAudio"></audio><br>
		@if(@Model.featureSong.stock > 0){
						<a href="/Order?id=@Model.featureSong.AlbumID">สั่งซื้อ </a>
					}else{
						<p style="color:red">สินค้าหมด</p>
					}
		</center>
	</div>
</div>






